<%- include('partials/header'); -%>

<main id="index">
    <section id="intro">
        <h2>Explore, Collect, and Discover Your Favorite Cards</h2>
        <p>Welcome to Card Collection! Dive into a world of captivating cards where you can explore, collect, and discover your favorite cards. Select up to 10 cards to create your personal collection and delve into the unique details of each card.</p>
        <p>Join our community of card enthusiasts, share your collections, and engage in discussions about the fascinating world of cards. Whether you're a seasoned collector or new to the hobby, Card Collection is your gateway to a thrilling card experience.</p>
        <p>Start your journey today and unlock the excitement of collecting and cherishing cards that resonate with you. Let's embark on this adventure together!</p>
        <p>Your selected cards will be locally saved on the server, and you can download them anytime!</p>
    </section>
    <img class="intro-img" src="/images/logo.png" alt="">
</main>

<%- include('partials/footer'); -%>