@import url('https://fonts.googleapis.com/css2?family=VT323:wght@400;700&display=swap');

:root {
    --pokemon-primary-fire: #FF4500;
    --pokemon-secondary-water: #0077BE;
    --pokemon-neutral-normal: #A8A77A;
    --pokemon-other-electric: #FFD700;

    --pokemon-font-main: 'VT323', monospace;
    --pokemon-font-secondary: 'Arial', sans-serif;

    --background-color: #FFFFCC;
    --text-color: #333333;   
}

:root::-webkit-scrollbar-track
{
	background-color: transparent;
}

:root::-webkit-scrollbar
{
	width: 8px;
	background-color: transparent;
}

:root::-webkit-scrollbar-thumb
{
	background-color: var(--pokemon-primary-fire);
}

html * {
    transition: all 0.8s;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    min-height: 100dvh;
    width: 100dvw;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--pokemon-font-main);
}

header {
    background-color: #0077be;
    color: #fff;
    padding: 20px;
    text-align: center;
}

#index {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15dvh;
    max-width: 80%;
    margin: 5% auto;
    padding: 0 20px;
}

.intro-img {
    height: 8rem;
}

#intro {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
    margin-bottom: 20px;
    font-size: 1.5rem;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--pokemon-primary-fire);
    color: #fff;
}

nav img {
    max-width: 100px;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease, text-decoration 0.3s ease;
    position: relative;
}

nav ul li:hover,
nav ul li:active {
    color: rgba(255, 255, 255, 0.8);
}

nav ul li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.8);
    transition: all 0.3s ease;
    transform: scaleX(0);
    transform-origin: bottom left;
}

nav ul li:hover::after,
nav ul li:active::after {
    transform: scaleX(1);
}

nav ul li.active::after {
    transform: scaleX(1);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--pokemon-font-main);
    color: var(--pokemon-neutral-normal);
    margin-bottom: 10px;
    text-align: center;
}

h2 {
    font-size: 2.5rem;
}

#pokefy {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 6dvh;
    max-width: 80%;
    margin: auto;
    padding: 0 20px;
}

.card-container {
    height: 300px;
    border-radius: 30px;
    margin-right: 200px;
    perspective: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    height: 300px;
    width: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.card-inner {
    height: 300px;
    width: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.card-front,
.card-back {
    width: 100%;
    height: 300px;
    position: absolute;
    backface-visibility: hidden;
}

.card-front img,
.card-back img {
    height: 300px;
    border-radius: 12px;
    position: absolute;
    backface-visibility: hidden;
    box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.5);
}

.card-back {
    transform: rotateY(180deg);
}

.buttons {
    margin-top: 20px;
    z-index: 1;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--pokemon-secondary-water);
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.5);
}

.btn:hover {
    background-color: #005c91;
}

.btn:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

#name {
    margin: 0;
    padding: 0;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes rotate360 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
  
.pokeball {
    height: 1.5rem;
    animation: rotate360 2s linear infinite;
}

.pokefied-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    margin-bottom: 4dvh;
}

.pokefied-item {
    text-align: center;
}

.pokefied-item img {
    height: 300px;
    border-radius: 8px;
    box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.5);
}

.pokefied-item p {
    margin-top: 10px;
}

@media (min-width: 768px) {
    .pokefied-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .pokefied-list {
        grid-template-columns: repeat(4, 1fr);
    }
}
