@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-image: url('/images/bg.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100vh;
    width: 100dvw;
    overflow: hidden;
}

.random-image {
    position: absolute;
}

img {
    transition: all 2s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: none;
  opacity: 0;
  transform: translateY(50%);
  margin-top: 2%;
  position: relative;
  font-family: 'Press Start 2P', cursive;
  z-index: 99;
}

.pokedex {
  width: 100%;
  max-width: 800px;
}

.poke-bckg {
  position: absolute;
  left: 31.80%;
  bottom: 58.50%;
  width: 35.1%;
  height: 34.65%;
  border-radius: 5.5px;
  overflow: hidden; 
}

.pokemon-img {
  position: absolute;
  bottom: 68%;
  left: 43%;
  transform: translate(-13%, 5%);
  height: 15%;
}

.pokemon-data {
  position: absolute;
  font-weight: 600;
  color: #000000;
  top: 63%;
  left: 36%;
  font-size: clamp(6px, 1.750vw, 13px);
}

.pokemon-description {
    position: absolute;
    font-weight: 600;
    color: #555555;
    top: 72%;
    left: 32%;
    font-size: clamp(4px, 1.750vw, 12px);
    width: 35%;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

span {
    color: #808080;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}