<%- include('partials/header'); -%>

<main class="video-container">
    <video id="bg-video" autoplay muted loop>
        <source src="/assets/bg.mp4" type="video/mp4">
    </video>
    <div class="content">
        <input type="text" name="pokemon" placeholder="Enter a Pokémon name">
        <div id="responseContainer">
            <img class="pokeball" src="/images/pokeball.png" alt="pokeball">
        </div>
    </div>
</main>
<!-- Within Ilex's tranquil shrine,
A presence rare, a gift divine. -->
<%- include('partials/footer'); -%>