<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Centered Box</title>
<style>
    body {
    margin: 0;  
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #4a1827ed;
}

.centered-box {
    background-color: rgba(61, 59, 59, 0.768);
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#button{
    position: absolute;
  background-color: #8B742E;
  border: none;
  color: white;
  position: fixed;
    top: 800px;
    left:870px;
  padding: 15px 32px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

    </style>
    <script>
        function back(){
            window.location.href='/';
        }
    </script>
</head>
<body>
    
<div class="centered-box">
    <h1><%=msg%></h1>
</div>

    <button id='button' onclick="back()">Go Back</button>

</body>
</html>
