<%- include('partials/header'); -%>

<main>
    <img draggable="false" alt="pokedex" src="/images/bg.png" class="poke-bckg unselectable"> 
    <img draggable="false" src="/images/unknown.gif" class="pokemon-img" alt="pokemon">
      <h1 draggable="false" class="pokemon-data unselectable">
        Unknown
    </h1>
    <p class="pokemon-description unselectable">
        <%= flag %>
    </p>
    <img draggable="false" alt="pokedex" src="/images/pokedex.png" class="pokedex unselectable">
</main>

<%- include('partials/footer'); -%>