<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>PokeQuest</title>
</head>
<body>
    <header>
        <div class="container">
            <a href="/"><img src="pokeball.png" width="40px" height="auto"></a>
            <h1>PokeQuest</h1>

        </div>
    </header>
    
    <section class="hero">
        <div class="container main-container">
            <h2>Let's Explore!</h2>
            <a href="/search" class="btn">Start Map!</a>
        </div>
    </section>
    
    <footer>
        <div class="container">
        </div>
    </footer>
</body>
</html>
